/* RESETS*/

*{
    /*border: 1px solid rgb(243, 29, 29);
    background-color: rgb(243, 29, 29), 0.1;* cor de fundo do documento*/
    margin:0;
    border:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}
ul{
    list-style: none;
}
li{
    margin: 20px 0 0 0;
}
hr {
    margin: 20px 0;
}
#meuHeader p:first-child,
aside p {
    font-weight: bold;
    
}
.destaque {
    color: red;
}
main,
aside{
    margin: 20px 40px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(216, 202, 202);
}

img {
    border-radius: 50px;
    transition: all 0.8 ease-in-out;
}
img:hover{
    transform: rotate(60deg);
}
a[href="#meuHeader"]{
    background-color: crimson;
    color: #fff;
    border: 2px dotted rgb(0, 0, 0);
    padding: 9px 20px;
    text-transform: capitalize;
    height: 40px;
    width: fit-content;
    border-radius: 60px;
    margin: 20px 30px;
    display: block;
}